@model POSManagementProject.Models.EntityModels.SalesOperationInformation

@{
    ViewBag.Title = "Result";
}

<div class="row">
    <div class="col-md-6">
        @Html.Label("Sales No : ")
        @Html.DisplayFor(model => model.SalesNo)
        <br/>
        @Html.Label("Branch : ")
        @Html.DisplayFor(model => model.Branch.Address)
        <br />
        @Html.Label("Sold By : ")
        @Html.DisplayFor(model => model.Employee.Name)
        <br />
        @Html.Label("Sales Date : ")
        @Html.DisplayFor(model => model.SalesDate)
        <br />
        @Html.Label("Customer Name : ")
        @Html.DisplayFor(model => model.CustomerName)
        <br />
        @Html.Label("Customer Contact : ")
        @Html.DisplayFor(model => model.CustomerContact)
    </div>
    <div class="col-md-6"></div>
    <br/><br/>

    <div class="col-md-12">
        <table class="table">
        
            <thead>
            <tr>
                <th>@Html.Label("SL")</th>
                <th>@Html.Label("Item")</th>
                <th>@Html.Label("Qty")</th>
                <th>@Html.Label("price")</th>
                <th>@Html.Label("Line Total")</th>
            </tr>
            </thead>
            <tbody>
            @{ int sl = 0; }
            @foreach (var item in Model.SalesItems)
            {
                sl++;
                <tr>
                    <td>@Html.DisplayFor(modelItem => sl)</td>
                    <td>@Html.DisplayFor(modelItem => item.Item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.LineTotal)</td>
                </tr>
            }
            <tr style="border: 0">
                <td colspan="2"></td>
                <td colspan="2">@Html.Label("Total Amount")</td>
                <td>@Html.DisplayFor(model => model.TotalAmount)</td>
            </tr>

            <tr>
                <td colspan="2"></td>
                <td colspan="2">@Html.Label("Discount Amount")</td>
                <td>@Html.DisplayFor(model => model.DiscountAmount)</td>
            </tr>
            @{
                double subTotalAmount = (double)(Model.TotalAmount - Model.DiscountAmount);
                double vatAmount = (double)(subTotalAmount * (Model.VAT / 100));
            }
            <tr>
                <td colspan="2"></td>
                <td colspan="2">@Html.Label("Sub Total Amount")</td>
                <td>@Html.DisplayFor(model => @subTotalAmount)</td>
            </tr>

            <tr>
                <td colspan="2"></td>
                <td colspan="2">@Html.Label("VAT ("+@Model.VAT+"%)")</td>
                <td>@Html.DisplayFor(model => @vatAmount)</td>
            </tr>

            <tr>
                <td colspan="2"></td>
                <td colspan="2">@Html.Label("Payable Amount")</td>
                <td>@Html.DisplayFor(model => model.PayableAmount)</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-9 col-md-3">
        @Html.Hidden("Hidden",@Model.SalesNo,new {@id="hiddenSalesNo"})
        <input type="button" value="Export To Pdf" class="btn btn-primary" onclick="salesOpExportToPdf()"/>
        <input type="button" value="Cancel" class="btn btn-default" id="redirectIndex" />
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/Project/SalesOperation.js"></script>
}
