@model IEnumerable<POSManagementProject.Models.EntityModels.Employee>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Add Employee", "Create", null, new { @class = "btn btn-primary" })
<br /><br /><br />

<table class="table table-striped table-hover table-bordered" id="employeeTable">
    <thead>
        <tr>
            <th>@Html.DisplayName("SL")</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Code)</th>
            <th>@Html.DisplayNameFor(model => model.BranchId)</th>
            <th>@Html.DisplayNameFor(model => model.Contact)</th>
            <th>@Html.DisplayNameFor(model => model.JoiningDate)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int sl = 0; }
        @foreach (var item in Model)
        {
            sl++;
            <tr id="row_@sl">
                <td>@Html.DisplayFor(modelItem => sl)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Code)</td>
                <td>@Html.DisplayFor(modelItem => item.Branch.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Contact)</td>
                <td>@Html.DisplayFor(modelItem => item.JoiningDate)</td>
                <td>
                    <a class="btn btn-primary btn-sm" onclick="EmployeeDetails(@item.Id)"
                       href='#'>
                        <i class="fa fa-info-circle fa-lg"></i>
                    </a>
                    <a class="btn btn-success btn-sm"
                       href='@Url.Action("Edit", "Employee", new {id = item.Id})'>
                        <i class="fa fa-pencil fa-lg"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" onclick="ConfirmDeleteEmployee(@item.Id,@sl)"
                       href="#">
                        <i class="fa fa-trash fa-lg"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Start Details Modal -->
<div class="modal fade" id="detailsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-primary">Employee Details</h3>
            </div>
            <div class="modal-body" id="detailsModalContent">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
<!--End Details Modal -->
<!-- Start Delete Modal -->
<div class="modal fade" id="confirmDeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-danger">Confirmation</h3>
            </div>
            <div class="modal-body text-center">
                <h5>Are you sure want to delete this employee ? </h5>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" onclick="DeleteEmployee()">Confirm</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hiddenEmployeeId" />
<input type="hidden" id="hiddenEmployeeSl" />
<!-- End Delete Modal -->

<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts
{
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#employeeTable').DataTable();
        });
    </script>

    <script src="~/Scripts/Project/Employee.js"></script>
}
